@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-900 text-slate-100;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-900 text-slate-100;
    background-image: 
      linear-gradient(rgba(15, 23, 42, 0.8), rgba(15, 23, 42, 0.8)),
      url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  section[id] {
    scroll-margin-top: 100px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out;
}

.animate-fadeOut {
  animation: fadeOut 1.5s ease-out;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
